.itemDetail {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 350px;
	width: 300px;
	border: 1px solid #ddd;
	border-radius: 10px;
	overflow: hidden;
	vertical-align: top;
	margin: 5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}

.itemContainer {
	display: flex;
	box-sizing: border-box;
	box-shadow: darkgrey;
}

.title {
	display: flex;
	font-size: 1rem;
	text-align: center;
}
