.itemDetail {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	height: 350px;
	width: 300px;
	border: 1px solid #ddd;
	border-radius: 10px;
	overflow: hidden;
	margin: 5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
	text-align: center;
}
.itemInfoContainer {
	display: flex;
	flex-direction: column;
	height: 300px;
	justify-content: space-between;
	align-items: center;
}
.imgBox {
	display: flex;
	width: 100px;
}
.itemContainer {
	display: flex;
	justify-content: space-evenly;
	margin: 40px 10%;
	box-sizing: border-box;
	box-shadow: darkgrey;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #ddd;
	border-radius: 10px;
	width: 50%;
	padding: 20px;
	margin-left: 25%;
}
.itemTitle {
	display: flex;
	width: 60%;
}

.title {
	display: flex;
	font-size: 1.5rem;
	text-align: center;
	color: rgb(28, 38, 128);
}
.stock {
	color: black;
}

.carritoItemsWrapper {
	display: flex;
	flex-direction: column;
}

.carritoItems {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 60%;
	border: 1px solid #ddd;
}

.orderItems {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: left;
	border: 1px solid #ddd;
}

.orderItemsWrapper {
	display: flex;
	flex-direction: column;
	width: 60%;
}

.buyerDetail {
	display: flex;
	flex-direction: column;
	margin: 30px 10px;
}
.orderTotal {
	margin: 15px 0px 0px 80%;
}
