nav {
	min-height: 10vh;
	background: rgb(69, 82, 87);
	height: 100%;
}
.navList {
	list-style: none;
	display: flex;
	width: 60%;
	justify-content: space-around;
	align-items: center;
	height: 10vh;
}
.hamburguer {
	display: none;
}

@media screen and (max-width: 890px) {
	nav {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 35%;
		position: relative;
		background-color: rgb(69, 82, 87);
	}

	.hamburguer {
		display: block;
		position: absolute;
		cursor: pointer;
		height: 2rem;
		/* background-color: rgb(69, 82, 87); */
	}
	.line {
		width: 30px;
		height: 3px;
		background: white;
		margin: 5px;
	}
	.lineOff {
		display: none;
	}

	.xMenuOn {
		font-size: 30px;
		color: white;
		margin: 5px;
		padding: 5px;
	}
	.xMenuOff {
		display: none;
	}
	.navList {
		flex-direction: column;
		align-items: start;
		justify-content: space-around;
		padding-left: 50px;
		padding-top: 40px;
		background: rgb(69, 82, 87);
		height: 100%;
		width: 100%;
	}
	.list-link {
		padding-top: 10px;
	}
}
