.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: grey;
}

.blue-box {
	background-color: blue;
}

.green-box {
	background-color: green;
}
.red-box {
	background-color: red;
}
.yellow-box {
	background-color: yellow;
}
